:root {
    --primary: #1c6a49;
    --primary-dark: #144e36;
    --secondary: #edaa0d;
    --secondary-dark: #cf940a;
    --opacity-text: 0.8;
    --light-blue: #4781f5;

    --background: #eee;
    /* --foreground: #fff; */
    --foreground: #d3d3d3;
    --foreground: #fff;
    --foreground-l: #e6e6e6;
    --br: 4px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px white; */
    background: transparent;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #edaa0d;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cf940a;
}

.cart-icon {
    position: relative;
    color: #000;
}

.cart-badge {
    background-color: var(--secondary) !important;
    position: absolute;
    top: -5px;
    left: -5px;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    /* background: #1c6a49; */
    background: var(--secondary);
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
}

.page-content {
    min-height: 1200px;
}

@media screen and (max-width: 728px) {
    .page-content {
        min-height: 100px;
    }
}

.b-fg {
    background-color: var(--foreground);
}

.b-fgl {
    background-color: var(--foreground-l);
}

.b-bg {
    background-color: var(--background);
}

.breadcrumb {
    background-color: var(--foreground) !important;
}

.btn-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle !important;
}

/* .transition{
    transition: .3s ease-in;
} */

.r {
    border-radius: var(--br);
}

.fs-xs {
    font-size: 0.625rem !important;
}

.fs-s {
    font-size: 0.75rem !important;
}

.fs-m {
    font-size: 0.875rem !important;
}

.fs-l {
    font-size: 1rem !important;
}

.fs-xxl {
    font-size: 1.4rem !important;
}

.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}

.article-card {
    border-radius: var(--br);
    position: relative;
    padding-bottom: 5px;
    max-height: 400px;
    box-shadow: none;
    border: 1px solid #ccc;
}

.article-card:hover {
    box-shadow: 3px 3px 3px #bbb;
}

.article-card:hover .btn-article {
    visibility: visible;
}

.article-card a:hover {
    color: currentColor;
}

.article-image {
    border-radius: var(--br) var(--br) 0 0;
}

.article-promo {
    background-color: var(--primary);
    color: #000;
    font-weight: bold;
    padding: 7px 15px;
    width: fit-content;
    color: white;
    position: absolute;
    border-radius: 0 var(--br) 0 var(--br);
    left: 0;
}
.article-price {
    background-color: var(--secondary);
    color: #000;
    font-weight: bold;
    padding: 7px 15px;
    width: fit-content;
    color: white;
    position: absolute;
    border-radius: 0 var(--br) 0 var(--br);
    right: 0;
}

.btn-article {
    display: inline-block;
    position: relative;
    padding: 10px 5px;
    border-radius: var(--br);
    text-transform: uppercase;

    max-width: 100% !important;
    text-align: center;
    margin: auto;
    box-shadow: 2px 2px 3px #bbb;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;
}

.m-w-150 {
    min-width: 150px;
}

.btn-article:hover {
    cursor: pointer;
}

body {
    /* background-color: white; */
    font-family: "Montserrat", sans-serif !important;
    transition: all 0.3s ease-in;
    font-size: 13px;
}

.nav-section {
    background-color: white;
}

.main-container {
    margin-left: 50px;
    margin-right: 50px;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cute-loader {
    display: inline-block;
    position: relative;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    width: 16px;
    height: 16px;
    margin: 0 auto;
}

.cute-loader div {
    /* box-sizing: border-box; */
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    /* margin: 4px; */
    margin: auto;
    /* border: 4px solid #1A5073; */
    border: 4px solid var(--primary);
    border-radius: 50%;
    animation: cute-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary) transparent transparent transparent;
}

.cute-loader.dark div {
    border: 4px solid #fff;
    border-color: #fff transparent transparent transparent;
}

.cute-loader div:nth-child(1) {
    animation-delay: -0.45s;
}

.cute-loader div:nth-child(2) {
    animation-delay: -0.3s;
}

.cute-loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes cute-loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card {
    border-radius: 4px;
    border: 1px solid #cecece;
}
.card:hover {
    box-shadow: 2px 2px 3px #bbb;
}

.text-secondary {
    color: var(--secondary) !important;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    font-size: 0.875rem !important;
}

ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #000;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: var(--secondary);
    /* text-decoration: underline; */
}

p,
a {
    font-weight: 500;
}
a:hover {
    cursor: pointer;
}

a.text-link {
    color: white;
    display: block;
}

a.text-link:hover {
    color: var(--accent);
}

a.inline-link {
    color: var(--accent);
    display: inline;
}

a.inline-link:hover {
    color: var(--secondary);
}

a.navlink {
    color: var(--primary);
    font-weight: medium;
}

.nav-color {
    color: var(--primary-darker);
    font-weight: medium;
    font-size: 12px;
    width: 100px;
}

a.navlinkss {
    color: white;
    font-weight: medium;
}

.links-color {
    color: white;
}

img.icon {
    width: 20px !important;
}

img.gluid {
    display: block;
    max-height: inherit;
    width: auto;
}

.jumbotron {
    /* padding: 1.8rem 1rem; */
}

/* Product slider */

.gallery {
    background: #eee;
}

.gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8c8;
    counter-increment: gallery-cell;
}

/* cell number */

.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.login-button {
    background-color: var(--secondary);
    color: white;
    font-weight: bolder;
    padding: 10px 10px;
    border: none;
}

.login-button:hover {
    background-color: white;
    color: var(--secondary);
    font-weight: bolder;
    padding: 10px 10px;
    text-decoration: none;
    border: 1px solid var(--secondary);
    transition: ease-in 0.5s;
}

.register-button {
    background-color: white;
    color: var(--primary);
    font-weight: bolder;
    border: 1px solid var(--primary);
    padding: 10px 10px;
}

.register-button:hover {
    background-color: var(--primary);
    color: white;
    font-weight: bolder;
    border: 1px solid var(--primary);
    padding: 10px 10px;
    text-decoration: none;
    transition: ease-in 0.5s;
}

@media only screen and (max-width: 450px) {
    .login-button {
        font-size: 11px !important;
        padding: 10px 5 !important;
    }

    .login-button:hover {
        padding: 0 !important;
    }

    .register-button {
        font-size: 11px !important;
        padding: 10px 5px !important;
    }

    .register-button:hover {
        padding: 0 !important;
    }
}

/*Carousel*/

.slide-image-one {
    position: relative;
    width: 100%;
    height: 95vh;
    background-position: center;
    background-size: cover;
    /* border-radius: 5px; */
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)),
        url("../images/IMAGE.png");
}

.event-slide-image-one {
    position: relative;
    width: 100%;
    height: 65vh;
    background-position: center;
    background-size: cover;
    /* border-radius: 5px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/33474456_M.jpg");
}

.slide-image-two {
    position: relative;
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    /* border-radius: 5px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/IMAGE.png");
}

.event-slide-image-two {
    position: relative;
    width: 100%;
    height: 65vh;
    background-position: center;
    background-size: cover;
    /* border-radius: 5px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/bria-hartley-et-silvia.jpg");
}

.slide-image-three {
    position: relative;
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    /* border-radius: 5px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/IMAGE.png");
}

.event-slide-image-three {
    position: relative;
    width: 100%;
    height: 65vh;
    background-position: center;
    background-size: cover;
    /* border-radius: 5px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/athle.jpg");
}

@media only screen and (max-width: 600px) {
    .blog-barner .des{
        font-size: 27px !important;
    }
}

@media (min-width: 320px) {
    .blog-barner {
        font-size: 5px;
        color: white;
        font-weight: bold;
    }
}

@media (min-width: 320px) {
    .carousel-caption .container h2 {
        font-size: 40px;
    }
}

@media (min-width: 320px) {
    .carousel-caption .container h2 {
        font-size: 30px;
    }
}

@media (min-width: 2560px) {
    .carousel-caption .container h2 {
        font-size: 50px;
        margin-top: 150px;
    }
}

@media (min-width: 320px) {
    .carousel-caption .container h2 {
        font-size: 50px;
        /* margin-top: 150px; */
    }
}

.carousel-content {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.slider-entete {
    font-weight: bold;
    font-size: 60px;
}

@media screen and (max-width: 991px) {

    .carousel-caption {
        top: 17%;
    }

    .carousel-caption h2 {
        font-size: 40px !important;
    }

    .carousel-caption-des {
        font-size: 14px !important;
        font-weight: 200;
    }
}


@media screen and (max-width: 767px) {
    .carousel-caption .custom-select{
        width: 100%;
        padding-left: 5px !important;
        flex: 1 1 0% !important;
    }

    .carousel-caption .input-group-append {
        width: 100% !important;
    }

    .carousel-caption .input-group-append button {
        width: 100% !important;
    }

    .input-group-text{
        display: none !important;
    }
}

@media screen and (max-width: 670px) {
    .carousel-caption .custom-select{
        height: 40px !important;
    }
}

@media screen and (max-width: 645px) {

    .carousel-caption {
        top: 16%;
    }

    .carousel-caption h2 {
        font-size: 30px !important;
    }

    .carousel-caption-des {
        font-size: 13px !important;
        font-weight: 200;
    }
}

/* @media screen and (max-width: 460px) {

    .carousel-caption {
        top: 16%;
    }

    .carousel-caption h2 {
        font-size: 20px !important;
    }

    .carousel-caption-des {
        font-size: 12px !important;
        font-weight: 200;
    }
} */


.carousel-caption h2 {
    font-size: 50px;
}

.carousel-caption-des {
    font-size: 15px;
    font-weight: 200;
}

.input-container {
    padding: 10px 20px;
    background-color: white;
    height: 50px;
    width: 700px;
}

/*how-it-works*/

.how-it-works {
    color: var(--primary);
    font-weight: bold;
}

.primary-text-color {
    color: var(--primary);
}

.secondary-text-color {
    color: var(--secondary);
}

.discipline-content-sportif {
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/401-felix-7430-jj.png");
}

.discipline-content-musculation {
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/401-felix-7430-jj.png");
}

.discipline-content-danse {
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/k-s21-chim-00772.png");
}

.discipline-content-physique {
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/399-mckinsey-21a9506-chim.png");
}

.discipline-content-yoga {
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /* url("../images/402-felix-8297-eye-a.png"); */
}

.discipline-content-boxe {
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0, 0², 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/401-ted4675-chim_2.png");
}
.bg-image {
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.bg-primary {
    background: var(--primary) !important;
}
.bg-secondary {
    background: var(--secondary) !important;
}

.discipline-content-football {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/349-pai4934-r1.png");
}

.discipline-content-des {
    color: white;
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.view-more-link {
    color: black;
    font-weight: 100;
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px 20px;
    border: 1px solid grey;
}

.view-more-link:hover {
    background-color: var(--secondary);
    color: white;
    border: none;
    text-decoration: none;
    transition: ease-out 0.4s;
    font-weight: 100;
}

.view-more-discipline {
    width: 100%;
    height: 200px;
    background-color: rgba(180, 180, 180, 0.719);
}

/*Coach section*/

.coach-section {
    padding: 35px;
    position: relative;
    /* width: 100%; */
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    background-image: linear-gradient(#d6a72fc7, #d6a72fc7),
        url("../images/401-ted4935-chim.png");
}

.patner-section {
    padding: 35px;
    position: relative;
    /* width: 100%; */
    /* height: 200px; */
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    background-image: linear-gradient(#0f4a31ce, #0f4a31ce),
        url("../images/401-felix-6452-l.png");
}

.coach-content-des {
    color: white;
    /* min-width: 420px; */
    font-size: 12px;
}

.mini-coach-content-des {
    color: white;
    font-weight: bold;
}

.coach {
    font-weight: bold;
    color: white;
}

.start-link-coach {
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    background-color: var(--primary);
    border: none;
}

.start-link-patner {
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    border: none;
    background-color: var(--secondary);
}

.start-link-coach:hover {
    background-color: transparent;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    transition: ease-in 0.4s;
}

.start-link-patner:hover {
    background-color: transparent;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    transition: ease-in 0.4s;
}

/*stores*/

.btn-black {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-black:hover {
    color: #fff;
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.vegan-image {
    padding: 70px 30px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("../images/BANNERS-PB.png");
    color: white;
}

.vegan-des {
    /* width: 400px; */
}

/* Testimony slides */

#testimony-slider,
#product-slider {
    position: relative;
}

.product-slides-container {
    width: 100%;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.product-slide-item {
    display: inline-block;
}

.product-slide-item img {
    width: 260px;
}

.slides-container {
    width: 100%;
    margin: auto;
}

.img-circle {
    max-width: 200px !important;
    width: 200px !important;
    height: auto;
    border-radius: 50% !important;
}

.small-img-circle {
    max-width: 30px !important;
    width: 30px !important;
    height: auto;
    border-radius: 50% !important;
    border: 1px solid gray;
}

.slide-control {
    /* display: block; */
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 0.3s ease-in-out;
    /* box-shadow: 2px 2px 20px 5px var(--primary-not-too-pale), */
    /* -2px -2px 20px 5px var(--primary-not-too-pale); */
}

.shadow.shadow-paler {
    /* box-shadow: 2px 2px 40px 2px var(--primary-pale), -2px -2px 40px 2px var(--primary-pale); */
    box-shadow: 2px 2px 40px 2px var(--secondary-dark),
        -2px -2px 40px 2px var(--secondary-dark);
}

.slide-control:hover {
    /* padding: 10px; */
    border: 10px solid var(--primary-not-too-pale);
}

.slide-control.left-button:hover {
    transform: translate(-20px, -50%);
}

.slide-control.right-button:hover {
    transform: translate(20px, -50%);
}

.slide-control.left-button {
    left: -25px;
}

.slide-control.right-button {
    right: -25px;
}

.slide-control img {
    width: 20px;
}

.slide-indicators {
    position: absolute;
    bottom: 30px;
    width: 50px;
    right: 50%;
    transform: translate(50%, 0);
    display: flex;
    justify-content: space-between;
}

.circle-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--background);
}

.circle-indicator.active {
    background-color: var(--secondary);
}

/* .abs{
    width: 24px;
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%) !important;
} */

.slide-item.active {
    display: block;
}

#product-slider .slide-item {
    display: block;
}

.slide-item {
    display: none;
}

#showcase {
    /* overflow: hidden !important; */
}

.skewwy {
    position: relative;
}

.skew-bottom::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    /* clip-path: polygon(100% 70%,0 100%,100% 100%, 0 100%); */
    clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
}

.skewwy.skew-top::before {
    content: "";
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--primary-darker);
    clip-path: polygon(0% 70%, 100% 0, 100% 100%, 0 100%);
}

/* Floating help button */

#floating-help-button {
    position: absolute;
    background-color: var(--accent);
    /* padding: 20px; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    right: 50px;
    top: -145px;
}

#floating-help-button img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
    a.navlink {
        margin-left: 5px;
    }
    .skew-bottom {
        padding-bottom: 200px;
    }
    .skew-bottom::before {
        bottom: -30px;
    }
    .skewwy.skew-top::before {
        top: -90px;
    }
    #floating-help-button {
        position: absolute;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        right: 50px;
        bottom: -50px;
        z-index: 99;
    }
    #floating-help-button img {
        height: auto;
        width: 50%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .slides-container {
        box-shadow: none !important;
    }
    .slide-control.left-button {
        left: 0;
    }
    .slide-control.right-button {
        right: 0;
    }
}

@media only screen and (max-width: 991px) {
    nav  {
        padding-bottom: 20px !important;
    }

    .box--buttons{
        margin-top: 20px;
    }
}

/*Footer*/

.skewwy {
    position: relative;
}

.skew-bottom::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: var(--primary);
    /* clip-path: polygon(100% 70%,0 100%,100% 100%, 0 100%); */
    clip-path: polygon(0 68%, 100% 57%, 100% 100%, 0% 100%);
}

.skewwy.skew-top::before {
    content: "";
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--primary-darker);
    clip-path: polygon(0% 70%, 100% 0, 100% 100%, 0 100%);
}

.footer {
    background-color: var(--primary);
    padding: 30px;
    /* height: px; */
    width: 100%;
    color: white;
    font-size: 15px;
}

.footer-des {
    color: white;
}

a:hover {
    text-decoration: none;
}

.search-form1 {
    width: 369px !important;
}

.search-form1 .input-height {
    border: 1px solid #ccc !important;
    height: 38px !important;
    padding-left: 10px !important;
    /* width: 10px !important; */
}

.input-height {
    border: none;
    height: 60px;
    padding-left: 40px;
}

.vertical-divider {
    color: gray;
    height: 40%;
    width: 1px;
    padding: 0 0.5px;
}

/*Cooachs details*/

.coach-card {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 20px;
}

.chips {
    background-color: #eee;
    padding: 3px;
    border-radius: 100px;
    margin-top: 15px;
    width: fit-content;
}

.price-position {
    position: relative;
}
.price-position img {
    height: 10rem !important;
    object-fit: cover !important;
    object-position: top !important;
}

.price-content {
    padding: 5px;
    background-color: white;
    text-align: center;
    border-radius: 100px;
    width: fit-content;
    position: absolute;
    top: 65%;
    right: 10%;
    color: var(--primary);
    font-weight: bold;
    box-shadow: 1px 1px 1px 0.5px rgb(199, 198, 198);
}

/*Back to button*/

#button {
    display: inline-block;
    background-color: var(--secondary);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

/* Styles for the content section */

.content {
    width: 100%;
    margin: 40px auto;
    line-height: 1.9;
}

@media (min-width: 500px) {
    .content {
        width: 100%;
    }
    #button {
        margin: 30px;
    }
}

.coach-identity {
    background-color: white;
}

.btn-primary:hover {
    color: #fff !important;
    background: var(--primary-dark);
}
.btn-secondary:hover {
    color: #fff !important;
    background: var(--secondary-dark) !important;
}

.btn-outline-secondary {
    background-color: transparent;
    border: 2px solid var(--secondary);
    padding: 10px 30px;
}

.btn-outline-secondary:hover {
    background-color: var(--secondary);
    color: white;
    font-weight: 400;
    transition: ease-in 1s;
    border: none;
    /* padding-right: 50px; */
}

.ask-queestion {
    background-color: rgba(247, 247, 247, 0.973);
    padding: 10px 20px;
    width: fit-content;
    border: none;
}

.primary-button {
    background-color: var(--primary);
    color: white;
    padding: 10px 30px;
    border: none;
}

.primary-button:hover {
    background-color: var(--primary);
    color: white;
    /* padding: 10px 30px; */
    border: none;
}

.secondary-button {
    background-color: var(--secondary);
    color: white;
    padding: 10px 30px;
    border: none;
}

.secondary-button:hover {
    background-color: var(--secondary);
    color: white;
    /* padding: 10px 30px; */
    border: none;
}

.coach-identity {
    background-color: white;
    padding: 30px 50px;
}

.galery-image {
    min-height: 35vh;
    width: 100%;
}

.become-coach-header {
    position: relative;
    color: white;
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(#d6a72fc7, #d6a72fc7),
        url("../images/401-ted4935-chim.png");
}

.become-partner-header {
    position: relative;
    color: white;
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(#0f4a31ce, #0f4a31ce),
        url("../images/401-ted4935-chim.png");
}

.dashboard-header {
    position: relative;
    color: white;
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(#0f4a31ce, #0f4a31ce),
        url("../images/401-ted4935-chim.png");
}

.profil-header {
    position: relative;
    color: white;
    width: 100%;
    height: 38vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(#d6a72fc7, #d6a72fc7),
        url("../images/401-felix-6792_1.png");
}

.become-coach-header-des {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-80%, -50%);
}

.dashboard-header-des {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* .become-coach-partner-des{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-80%, -10%);
} */

.become-coach-header-des h3 {
    color: white;
    font-size: 35px;
}

.input-style {
    border-radius: 2px;
    height: 45px;
}

.placeholder-style {
    font-size: small;
    font-weight: 50;
}

.dedicated-application {
    background-color: #eee;
    padding: 40px 30px;
    line-height: 2;
}

/*lOGIN*/

.login-facebook {
    /* border: 1px solid #eee; */
    padding: 10px 25px;
    background-color: var(--light-blue);
    /* font-size: x-small; */
    border-radius: 5px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.08);
}

.login-facebook a {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.login-google {
    /* border: 2px solid #eee; */
    padding: 10px 25px;
    background-color: white;
    /* font-size: x-small; */
    border-radius: 3px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.08);
}

.login-google a {
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.mini-divider {
    height: 1px;
    background-color: #eee;
    width: 200px;
}

.mini-dividers {
    height: 1px;
    background-color: #eee;
    width: 140px;
}

.password-forget {
    float: right;
    font-size: small;
    color: var(--secondary);
}

.button-position-right {
    float: right;
}

.dismissible-coach-box {
    height: 155px;
    background-color: white;
    padding: 5px 20px;
    border-left: 10px solid var(--secondary);
}

.dismissible-partner-box {
    height: 155px;
    background-color: white;
    padding: 5px 20px;
    border-left: 10px solid var(--primary);
}

.profil-box-content {
    background-color: white;
    padding: 10px 25px;
    border-radius: 5px;
}

.self-challenger-box {
    background-color: var(--primary);
    padding: 5px 8px;
    color: white;
    font-weight: 500;
    border-radius: 100px;
}

.update-profil-link {
    text-decoration: underline;
}

.update-profil-link:hover {
    text-decoration: underline;
    color: var(--primary);
}

.courses-entete {
    background-color: var(--secondary);
    color: white;
    font-weight: 600;
    padding: 10px 15px;
}

.seance-entete {
    background-color: var(--primary);
    color: white;
    font-weight: 600;
    padding: 10px 15px;
}

.courses-content {
    padding: 15px;
}

.calcul-input {
    background-color: #eee;
    border: none;
    height: 40px;
    border-radius: 3px;
    padding-left: 10px;
    max-width: 100px;
}

.proportion-circle {
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background-color: rgb(16, 252, 252);
}

.proportion-circle {
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background-color: rgb(16, 252, 252);
}

.green-proportion-circle {
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background-color: rgb(11, 218, 11);
}

.yellow-proportion-circle {
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background-color: yellow;
}

.orange-proportion-circle {
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background-color: orange;
}

.orangered-proportion-circle {
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background-color: orangered;
}

.red-proportion-circle {
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background-color: orangered;
}

.small-text {
    font-size: xx-small;
}

.payment-entete {
    background-color: var(--primary);
    color: white;
    font-weight: 600;
    padding: 10px 15px;
}

.courses-makes {
    background-color: var(--primary);
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
}

.grey-button {
    background-color: #707070;
    color: white;
    border: none;
    padding: 10px 15px;
}

.verticals-divider {
    width: 2px;
    min-height: 200px;
    background-color: rgba(182, 179, 179, 0.904);
}

.grey-pale-button {
    background-color: #d1d1d1;
    border: none;
    padding: 10px;
}

.tab-content-box {
    padding: 10px 20px;
    min-height: 200px;
    width: 150px;
    background-color: #eee;
}

.active .tab-content-box {
    background-color: transparent;
}

.mini-circle-tabs {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    border: 2px solid rgb(160, 158, 158);
}

.grey-bg {
    background-color: #eee;
    padding: 10px 20px;
}

.white-bg {
    background-color: white;
}

.tarifs-button {
    border: 2px solid var(--secondary);
    padding: 10px 20px;
    max-width: 180px;
}

.dashboard-button {
    border: 1px solid var(--secondary);
    color: var(--secondary);
    padding: 10px 20px;
}

.dashboard-button:hover {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: white;
    /* padding: 10px; */
    transition: ease-in 0.4s;
}

.profil-button {
    background-color: var(--primary);
    color: white;
    padding: 10px;
    border: none;
}

.profil-button:hover {
    background-color: transparent;
    color: var(--primary);
    /* padding: 10px 20px; */
    border: 1px solid var(--primary);
    transition: ease-in 0.4s;
}

.couverture-section {
    padding: 30px;
    position: relative;
    width: 100%;
    height: 45vh;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/IMAGE.png");
}

.profil-picture {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: 3px solid #fff;
    position: absolute;
    bottom: -20%;
}

.change-couverture-picture {
    height: 40px;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 5px;
    padding: 8px 20px;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.white-text {
    color: white;
}

.shop-description {
    font-size: 16px;
}

.shop-name {
    font-size: 1.3rem;
}

.intro {
    background-color: white;
    padding: 20px 10px;
    border-radius: 5px;
}

.material-icons {
    /* font-size: inherit; */
    vertical-align: middle !important;
}
.material-icons.secondary {
    color: var(--secondary);
}

.event-card {
    position: relative;
    display: block;
    z-index: 9;
}

.event-card:hover {
    cursor: pointer;
}

/* .event-card.past-event {
    position: relative;
} */

.event-content.past-event::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* background-color: rgba(247, 247, 247, 0.973); */
    background-color: rgba(0, 0, 0, 0.3);
}

.event-content {
    position: relative;
    /* padding:20px 10px; */
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.08);
    transform: none !important;
    width: auto;
}

.event-content:hover {
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.336);
}

.event-content h5 {
    color: var(--primary);
    font-weight: 500;
}

.intro h6 {
    font-size: 25px;
}

.shop-details {
    background-color: #fff;
    /* padding:20px 10px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    padding-bottom: 20px;
    border-radius: 8px;
}

.margin-details {
    padding-left: 10px;
    padding-right: 10px;
}

.icon-color {
    font-size: 25px;
}

.update-infromation {
    background-color: #eee;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.img-hover {
    border: 1px solid white;
}

.article-tag {
    padding: 30px;
    position: relative;
    width: 100%;
    height: 45vh;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    background-image: url("../images/401-ted3137-chim_1.png");
}

.img-parent {
    position: relative;
    top: -15px;
    right: -15px;
    height: 100px;
}

.article-img {
    padding: 30px;
    position: relative;
    width: 100%;
    height: 20vh;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/401-ted3137-chim_1.png");
}

.article-img-two {
    padding: 30px;
    position: relative;
    width: 100%;
    height: 20vh;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/IMAGE.png");
}

.shop-article-price {
    position: absolute;
    right: -35px;
    top: -35px;
    height: 100px;
    width: 100px;
    background-image: url("../images/dumbell2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    /* mix-blend-mode: overlay; */
}

.article-img span {
    position: absolute;
    top: 3px;
    right: -25px;
    color: var(--secondary);
    font-weight: bold;
    font-size: 17px;
    width: fit-content;
}

.article-img-two span {
    position: absolute;
    top: 3px;
    right: -25px;
    color: var(--secondary);
    font-weight: bold;
    font-size: 17px;
    width: fit-content;
}

.shop-article-pricte {
    padding: 10px;
    /* width: fit-content;  */
    position: absolute;
    z-index: 33;
    top: 0;
    right: 0;
    height: 100px;
    width: 150px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-bottom-left-radius: 15px;
    font-size: large;
    background: url("../images/dumbell1.png");
}

.shop-article-pri:hover {
    padding: 13px;
    width: fit-content;
    background-color: #edaa0db0;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-weight: bold;
    text-align: center;
    border-bottom-left-radius: 15px;
    font-size: large;
    transition: ease-in-out 0.4s;
}

.add-to-cart {
    padding: 10px 20px;
    color: white;
    background-color: var(--primary);
    font-weight: bold;
    text-align: center;
}

.add-to-cart:hover {
    /* padding: 10px 20px; */
    color: var(--primary);
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--primary);
    transition: ease-in 0.4s;
}

.free {
    color: white;
    padding: 5px 30px;
    background-color: var(--primary);
    width: fit-content;
    border-radius: 5px;
    border: 1px solid var(--primary);
}

.free:hover {
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
}

.event-type {
    color: white;
    padding: 5px 30px;
    background-color: var(--secondary);
    width: fit-content;
    border-radius: 5px;
}

.event-type:hover {
    color: var(--secondary);
    background-color: transparent;
    border: 1px solid var(--secondary);
}

.secondary-divider {
    background-color: var(--secondary);
    height: 3px;
    max-width: 150px;
    margin: auto;
}

.event-titles {
    background-color: #eee;
    position: relative;
    height: 130px;
    width: 100%;
}

.event-titles h1 {
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-transform: uppercase;
}

.rdimg {
    border-radius: 5px;
}

.product-card {
    background-color: #fff;
    padding: 20px 20px;
}

.buy {
    background-color: var(--secondary);
    color: white;
}

.buy:hover {
    background-color: var(--secondary-dark);
}

.product-price {
    font-weight: bold;
    font-size: 20px;
}

.product-name {
    font-size: large;
    color: var(--secondary);
}

.quantity {
    border: 2px solid var(--primary);
}

.article-design {
    color: grey;
}

/**/

.list-bg {
    background: linear-gradient(
            0deg,
            rgba(241, 99, 52, 0.8),
            rgba(0, 0, 0, 0.2)
        ),
        url("../img/event-list-bg.jpg");
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 480px;
    position: absolute;
    top: 0;
    z-index: -1;
}

.list-bg:after {
    content: "";
    position: absolute;
    background: linear-gradient(
        175deg,
        rgba(241, 99, 52, 0.1) 336px,
        #f8f8fa 0
    );
    bottom: -350px;
    width: 100%;
    height: 395px;
}

.press-barner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.login-box {
    background-color: #fff;
    padding: 40px 30px;
}

.article-card {
    border: 0px;
    background-color: white;
    box-shadow: 0.6px 0.6px 0.6px rgb(201, 195, 195);
}

.img-container {
    overflow: hidden;
    position: relative;
}

.mh-200 {
    max-height: 200px;
}
.mh-300 {
    max-height: 300px;
}

.view-more {
    background-color: var(--secondary);
    color: white;
    font-weight: 500;
    transition: ease-in 0.3s;
    padding: 10px 20px;
}

.view-more:hover {
    color: var(--secondary);
    font-weight: 500;
    background-color: white;
    border: 1px solid var(--secondary);
}

.secondary-dividers {
    background-color: var(--secondary);
    height: 3px;
    max-width: 150px;
}

.small-secondary-dividers {
    background-color: var(--secondary);
    height: 3px;
    max-width: 70px;
}

.img-height {
    max-height: 126px;
}

.blog-barner {
    position: relative;
    width: 100%;
    min-height: 35vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../images/bg2.jpg");
}

.blog-barner .des {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.article-header {
    position: relative;
    width: 100%;
    height: 35vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../images/IMAGE.png");
}

.article-header .description {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
}

.cat {
    background-color: var(--secondary);
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

.cat:hover {
    color: var(--secondary);
    border: 2px solid var(--secondary);
    background-color: transparent;
    transition: ease-in 0.4s;
}

.price-box {
    background-color: var(--secondary);
    color: #000;
    font-weight: bold;
    padding: 7px 15px;
    width: fit-content;
    color: white;
    position: absolute;
    right: 0;
}

/* .article-cards {
    border: 0px;
    background-color: white;
    box-shadow: 0.6px 0.6px 0.6px rgb(201, 195, 195);
    position: relative;
} */

.discipline-des-line-height {
    line-height: 2.722;
}

.nos-valeurs {
    position: relative;
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../images/IMAGE.png");
}

.nos-valeurs .des {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#snackbar {
    display: inline-block;
    position: fixed;
    z-index: 9;
    right: 30px;
    top: 30px;
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: #333;
    color: #fff !important;
    text-align: center;
    border-radius: 4px;
    padding: 15px;
    font-size: 1rem;

    font-weight: 500;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}
